{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet">
    <!--Import materialize.css-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/main_base.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&display=swap" rel="stylesheet">

    <title>
        {% block title_content %}
        KodLand
        {% endblock %}
    </title>
</head>

<body>
    <header>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <ul class="hide-on-med-and-down brand-logo">
                        <li><img class="logo" src="{% static 'img/logo.png' %}" alt="LogoKodland"></a></li>
                    </ul>
                    <ul class="hide-on-med-and-down nav_link">
                        <li><a class="nav-menu_text" href="{% url 'posts_show' %}">Блог</a></li>
                    </ul>
                    <ul class="hide-on-med-and-down nav_link">
                        <li><a class="nav-menu_text" href="{% url 'post_create' %}">Создать статью</a></li>
                    </ul>
                    <ul class="right hide-on-med-and-down nav_right_icons">
                        <li><img src="{% static 'img/email.svg' %}" width="31" height="31"></li>
                        <li><img class="circle_border" src="{% static 'img/icon_1.png' %}" width="70" height="70"></li>

                        <style>
                            .roll {
                                background: url("{% static 'img/logout_default.svg' %}");
                            }

                            .roll:hover {
                                background: url("{% static 'img/logout_hover.svg' %}");
                            }
                        </style>

                        <li><img class="roll" width="31" height="31"></li>
                    </ul>

                </div>
            </nav>
        </div>
    </header>

    {% block content %}


    {% endblock %}






    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <script src="{% static 'js/script.js' %}"></script>

</body>

</html>