.content-wrapper {
    margin-top: 90px;
}

/*Icons style */

.icons_line {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    color: #CDCDCD;
    max-width: 25%;
    display: flex;
    justify-content: flex-start
}

.icons_line img {
    margin-left: 10px;
}

.new {
    width: 37px;
    height: 20px;
    left: 194px;
    top: 213px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #E9399C;
    margin-right: 7px;
}

/*Main content style */

.top_text_wrapper {
    overflow: hidden;
}

.content_illustration {
    max-width: 150%;
    width: auto;
    height: 320px;
    border-radius: 10px;
}

hr {
    border: none;
    color: #CDCDCD;
    background-color: #CDCDCD;
    height: 2px;

    border: 0;
    height: 1px;
    }

.card {
    width: 100%;
    max-height: 300px;
    min-height: 100px;
    height: 30%;
}

.card-image img {
    max-height: 70%;
    width: auto;
}

.created {
    margin: 3%;
    padding-top: 3%; 
}
